ion-toolbar {
  --background: transparent;
}

svg{
  padding-left: 10px;
}

ion-buttons > ion-button {
  font-family: InterBold;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: url("../../../../assets/images/Sunburst_Red-pattern.png" ) no-repeat center center / cover;
}

#introswiper.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

#introswiper > .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;

  text-align: center;

  p {
    font-family: SanRegular;
    margin-top: 20px;
    font-size: 1.125rem;
  }

  &:first-child {
    margin-top: 50px;
  }
}

.swiper-pagination-bullet {
  background: var(--ion-color-livestorm-light-blue);
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--ion-color-livestorm-dark-prime);
}

.swiper-pagination-bullets {
  bottom: calc(80px + var(--ion-safe-area-bottom)) !important;
}

.intro-page {
  height: 200vh;
  width: 100%;
  position: absolute;
  background: var(--ion-color-livestorm-light-bg);
  z-index: -1;
}

.reset-bg {
  transform: translateX(0px) !important;
  transition: 0.5s;
}

.reset-bg-out {
  transform: translateX(-600px) !important;
  transition: 1.2s;
}

