ion-footer {
  padding: 12px;
}

.edit-button {
  --box-shadow: none;
  padding-right: 1em;
  float: right;
}

.game-controller {
  --box-shadow: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 7em;
  right: 2em;
}
