<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-grid>
      <ion-row>
        <!-- <ion-item *ngFor="let img of images; index as pos" text-wrap> -->
          <ion-img *ngIf="base64String" [src]="base64String" alt="beautiful"></ion-img>
          <ion-img *ngIf="apiService.capturedBase64String" [src]="apiService.base64String" alt="beautiful"></ion-img>

          <ion-button *ngIf="base64String || apiService.capturedBase64String" color="primary"
            (click)="uploadImage(base64String, apiService.capturedBase64String) ">
            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
          </ion-button>

          <ion-button *ngIf="base64String || apiService.capturedBase64String" fill="clear"
            (click)="deleteImage(img, pos)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        <!-- </ion-item> -->
      </ion-row>
    </ion-grid>

  </ion-list>

  <!-- Fab button for file selection -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button fill="clear" color="light" (click)="selectFromGallery()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button fill="clear" color="light" (click)="takeFromCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer class="ion-no-border" no-shadow>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Message" [(ngModel)]="chatMessage"></ion-input>
    <ion-button clear color="primary" (click)="uploadMessage(chatMessage) " [disabled]="chatMessage === ''">
      Send
    </ion-button>
  </ion-item>
</ion-footer>
