ion-content {
    --background: #F1F2F6;
}

.transparent {
    --background: transparent;
}

ion-avatar {
    width: 60px;
    height: 60px;
}

ion-icon {
    padding: 5px;
    color: #fff;
    border-radius: 6px;
}

ion-list {
    margin-top: 40px;
    border-top: .5px solid #CBCACD;
    border-bottom: .5px solid #CBCACD;
}