<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://mma.prnewswire.com/media/1532366/Livestorm_Logo.jpg?p=facebook">
        <h1>Hey there!</h1>
        <p>This is an epic app because...</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="https://files.readme.io/6428f41-Screenshot_2021-05-18_at_10.10.38.png">
        <h1>It's Livestorm!</h1>
        <p>... it has all the basics control you need!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>